$img-dir: "./../images";

html, body
{
    background-color: #dcdcdc !important;
    padding: 0;
    margin: 0;
}

.nondraggable
{
	-webkit-app-region: no-drag !important;
}

#header
{
    background-color: #111;
    height: 45px;
    padding: 0;
    text-align: center;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
    position: relative;
    z-index: 99999;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    .title
    {
        padding: 13px 0 0;
    }

    #logo
    {
        width: 30px;
    }

    #app_sidebar_button
	{
		background-color: #111;
		height: 45px;

		.item
		{
			border-radius: 0;
		}
	}

    .edge
	{
		position: absolute;
		-webkit-app-region: no-drag;
		top: 0;

		&#edge-left
		{
			width: 4px;
			height: 100%;
			left: 0;
		}

		&#edge-top
		{
			width: 100%;
			height: 4px;
			left: 0;
		}

		&#edge-right
		{
			width: 2px;
			height: 100%;
			right: 0;
		}
	}

    #window-controls
	{
		position: absolute;
		right: 5px;
		top: 5px;
		-webkit-app-region: no-drag;

		a.window-control
		{
			position: relative;
			display: inline-block;
			height: 30px;
			width: 56px;
			color: #999;
			cursor: default;
			background-position: center;
			background-repeat: no-repeat;

			&:hover
			{
				background-color: #404040;
				color: #fff;

				&[data-control="close"]
				{
					background-color: #e81123;
				}
			}

			&[data-control="min"]
			{
				background-image: url($img-dir + "/system/windows/min.png");

				&:hover
				{
					background-image: url($img-dir + "/system/windows/min-hover.png");
				}
			}

			&[data-control="max"]
			{
				background-image: url($img-dir + "/system/windows/max.png");
				&:hover
				{
					background-image: url($img-dir + "/system/windows/max-hover.png");
				}
			}

			&[data-control="close"]
			{
				background-image: url($img-dir + "/system/windows/x.png");

				&:hover
				{
					background-image: url($img-dir + "/system/windows/x-hover.png");
				}
			}

			&[data-control="unmax"]
			{
				background-image: url($img-dir + "/system/windows/unmax.png");

				&:hover
				{
					background-image: url($img-dir + "/system/windows/unmax-hover.png");
				}
			}
		}
	}
}

#app_wrapper
{
    // font-size: 13px;
    // background-color: #fff;
    // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding-top: 0 5px 5px;
    #start_view
    {
        margin: 0;
        padding: 20px 0 0;

        #start_view_steps
        {
            margin: 0 auto 15px;
        }

        #start_view_inner
        {
            padding: 10px;
            background: rgb(255, 255, 255);
            box-shadow: rgb(204, 204, 204) 0px 1px 2px;
        }

        .key_link
        {
            color: #23799b;
            cursor: pointer;
        }
    }

    .flex_center
    {
        display: flex;
        display: flex;
        align-items: center;
    }

    #request_setup
    {
        padding: 5px 20px;
        font-size: 13px;
    }

    #dashboard_view
    {

        #request_setup
        {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        #request_list
        {
            padding: 10px;

            #request_list_header
            {
                // border: #ccc solid;
                // border-width: 0 0 1px;
                border: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 0;
                background-color: #444;
                color: #fff;
                font-size: 14px;
                border-radius: 3px 3px 0 0;
            }

            .request_list_subheader
            {
                font-size: 15px;
                color: #444;
                font-weight: bold;
            }

            #request_list_inner
            {
                height: calc(100vh - 200px);
                overflow-y: auto;
                overflow-x: hidden;
                margin-bottom: 10px;
            }

            .request_list_row
            {
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 4px 0;
                border: 0;
                box-shadow: unset;

                .cell
                {
                    overflow: hidden;
                    font-size: 13px;
                    align-items: center;
                    display: flex;
                }

                .request_list_row_lower
                {
                    min-height: 100px;
                    margin: 10px 0 0;
                    display: none;
                }

                .property_section
                {
                    margin: 0 0 15px;
                    padding: 10px;
                    overflow: hidden;

                    .property_section_inner
                    {
                        border: #999 solid;
                        border-width: 1px 0 0;
                        padding: 5px 0;
                    }

                    .property_section_title
                    {
                        font-size: 14px;
                        padding: 0 0 5px;
                        font-weight: bold;
                    }

                    .property_row
                    {
                        font-size: 13px;

                        .property_key
                        {
                            padding: 0 10px 0 0;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }

    .fields
    {
        .disabled
        {
            opacity: 1;

            .input
            {
                opacity: .7;
            }

            label
            {
                opacity: 1;
            }
        }
    }
}

.ui.segment.clean_segment
{
    margin: 0;
    padding: 0;
    border: 0;
}

#app_sidebar
{
	padding-top: 15px;
	z-index: 99999999;
	top: 45px;
	text-align: left;
	font-size: 13px;
	// background-color: #000;

	.item
	{
		line-height: 18px;
	}
}
