html, body
{
    background-color: #efefef !important;
}

#app_wrapper
{
    // font-size: 13px;
    background-color: #fff;

    #request_list
    {

        #request_list_header
        {
            border: #ccc solid;
            border-width: 0 0 1px;
            padding: 3px 0;
            font-weight: bold;
        }

        .request_list_row
        {
            padding: 3px 0;
            border: #ccc dotted;
            border-width: 0 0 1px;
        }
    }
}
